# Ignore node_modules directory
node_modules

# Ignore environment variables file
.env
.env.production 

# Playground files
playground-1.mongodb.js

# Ignore npm debug log files
npm-debug.log

# Ignore Docker-related files
docker-compose.yml
Dockerfile

# Directories (ignore contents but keep structure)
uploads/*
processed/*
!uploads/.gitkeep
!processed/.gitkeep

# Ignore all markdown files
*.md