# Ignore node_modules directory
node_modules

# Ignore environment variables file
.env

# Playground files
playground-1.mongodb.js

# Ignore npm debug log files
npm-debug.log

# Ignore Docker-related files
docker-compose.yml
Dockerfile

# Directories
uploads
processed
